<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
  
  <display-name>Testing</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name> NewServlet </servlet-name>
	<jsp-file>/NewFile.jsp</jsp-file>
	
	<init-param>  
		<param-name> dname </param-name>
		<param-value> sun.jdbc.odbc.JdbcOdbcDriver</param-value>
	</init-param>
 </servlet>
  
 <servlet-mapping>
 <servlet-name>NewServlet</servlet-name>
 <url-pattern>/NewFile.jsp</url-pattern>
 </servlet-mapping>
 
</web-app>

<!-- 
Jsp config implicit object 

It is of type ServletConfig.
This object can be used to get initialization parameter for a particular JSP page.
The config object is created by the web container for each jsp page.

-->